{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h1>My Profile</h1>
    <div class="row">
      <div class="col-md-6">
        {% if user_subscription %}
          <h4>Current Membership: {{user_membership.membership.membership_type}} <small>since {{user_subscription.get_created_date}}</small> </h4>
          {% if user_subscription.active %}
            <p>Next payment due: {{ user_subscription.get_next_billing_date }}</p>
            <a href="{% url 'memberships:cancel' %}">Cancel Subscription</a>
          {% else %}
            <p>You don't have an active membership plan. Check them out here</p>
            <a href="{% url 'memberships:select-membership' %}">Memberships</a>
          {% endif %}
        {% else %}
          <h4>Current Membership: {{user_membership.membership.membership_type}} </h4>
          <p>You don't have an active membership plan. Check them out here</p>
          <a href="{% url 'memberships:select-membership' %}">Memberships</a>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}